:root {
  --border-color: #e5e5e5;
  --edit-button: #f7f7f7;
  --del-button: #d93f3f;
  --create-button: #555a88;
  --titles-letter: #0f0f2d;
  --info-letter: #302f2f;
  --info-title: #d3d3d3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 30px;
  position: relative;
}
.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.btn__create {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: var(--create-button);
  color: var(--info-title);
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}
.btn__create:hover {
  background-color: #6369a0;
  transition: background-color 200ms;
}
